.under-construction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f3f3f3; /* Light grey background */
    font-family: 'Arial', sans-serif; /* Default font */
}

.title {
    font-size: 3em; /* Large title */
    color: #333; /* Dark grey text */
    margin-bottom: 20px; /* Space between title and message */
}

.message {
    font-size: 1.2em; /* Medium text size */
    color: #666; /* Lighter grey text */
    text-align: center; /* Centered text */
    margin-bottom: 10px; /* Space between messages */
}
