@media (max-width: 767px) {
  .carousel .slide {
     min-height: 250px;
  }
 }
 
 @media (min-width: 768px) {
  .carousel .slide {
     min-height: 550px;
     max-height: 69vh; /* Set the maximum height to 69vh on normal screens */
  }
 }
 
 .carousel .slide {
  height: auto;
  width: 100%;
  object-fit: cover;
 }
 
 .carousel img {
  height: 100%;
  width: 100%;
  object-fit: cover;
 }
 
 .carousel .control-dots .dot {
  @apply w-4 h-4; 
 }
 
 .carousel .control-dots .dot.selected {
  @apply bg-custom-orange;
 }