/* StarRating.css */
.star-rating {
    display: flex;
    margin-bottom: 0.5rem;
}

/* StarRating.css */
.star {
    font-size: 1.5rem; /* Increase the font size */
    color: #ccc;
    margin-right: 0.25rem;
}

.star.filled {
    color: #DA4B07; /* Gold color for filled stars */
}