/* Add this to your style.css */
.navbar-open {
    background-color: #444959;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    width: 100%;
    transition: height 0.3s ease-in-out;
}

.navbar-container.navbar-open {
    height: 100vh;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #727580;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out; 
    transform: translateY(-100%);
}

.navbar-container.navbar-open .dropdown-menu {
    transform: translateY(0);
}



.navbar-open2 {
    animation: slideDown 0.5s forwards;
}


.navbar-close2 {
    animation: slideUp 0.5s forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

